header { 
    background-color:  #007bff; 
    color: #fff; 
    padding: 20px;
    text-align: center; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 80px;
    width: 100%; 
    box-sizing: border-box;

    .header-buttons {
        display: flex; 
        gap: 10px; 
    }
}

