.auth-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    gap: 20px;    /* Espace entre les boutons */
  }