// signup.component.scss

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  
    label {
      margin: 10px 0 5px;
    }
  
    input {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    button {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.1s ease-in-out, background-color 0.3s ease;
      
        &:hover {
          background-color: #0056b3;
        }
      
        &:active {
          transform: scale(0.95);  // Réduit légèrement la taille du bouton pour simuler un clic
          background-color: #003f7f;  // Change la couleur pendant le clic
        }
      
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
      
  }
  
  div {
    margin-top: 20px; // Ajout d'une marge en haut du div pour le champ de code de vérification
  }