
// Reset CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  main {
   
    max-width: 1440px;
       margin: auto;
  }

// input styles 
input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: black ;
}

input[type="date"] {
    font-family: 'Roboto', sans-serif;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

textarea:focus {
    outline: none;
    border-color: black ;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: white;
}


// Global styles

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.mb-10 {
    margin-bottom: 10px;
}
.mt-10 {
    margin-top: 10px;
}

.m-10 {
    margin: 10px;
}   

.m-20 {
    margin: 20px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.text-center {
    text-align: center;
}
  

